// Override Mixin button-variant to create hover effect
@mixin button-variant($background, $border, $color) {
  background-color: $background;
  border: 2.5px solid $border;
  color: transparent;

  &:hover {
    background-color: transparent;
    color: $color;
  }
}
