@include media-breakpoint-up(xs) {
  .container-box {
    &__content {
      flex-direction: column;
    }
  }

  .main-box {
    flex-direction: column;
    margin: 4rem 1rem;
  }

  .footer-box {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}

// min-width:768px
@include media-breakpoint-up(md) {
  .container-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-box {
    max-width: 100rem;
    margin: auto 1rem;
    flex-direction: row;
  }

  .footer-box {
    margin-top: 3rem;
    margin-bottom: 0;
  }
}
